<% breadcrumb :search_form %>



<div class="container">
  <div class="col-sm-8 col-xs-12">

    <h1>"<%= @name %>"の検索結果 <%= @search_articles.size %>件</h1>

    <div class="article pb50">
      <% @search_articles.each do |article| %>

      <div class="created-time">
        記事作成 <%= article.created_at.strftime("%Y年 %m月 %d日") %>
      </div>
      <div class="article-title">
        <h1><%= article.title.truncate(40) %></h1>
      </div>


      <div class="article-body">
        <%== article.body.truncate(70) %>
      </div>

      <% end %>


    </div>

    <hr>

    <div class="related-article">
      <h4>関連する記事</h4>
      <hr>
    </div>

    <div class="ad-space">
      広告入ります
    </div>
  </div>





</div>
