<% breadcrumb :show_article %>

<div class="container">
  <div class="col-sm-8 col-xs-12">

    <div class="article pb50">
      <div class="created-time">
        記事作成 <%= @article.created_at.strftime("%Y年 %m月 %d日") %>
      </div>
      <div class="article-title">
        <h1><%= @article.title %></h1>
      </div>

      <div class="show-ad">
        広告
      </div>

      <div class="article-body">
        <%== auto_link(simple_format(@article.body), html: {target: '_blank'}) %>
      </div>

      <div class="show-ad">
        広告
      </div>

    </div>

    <hr>

    <div class="related-article">
      <h4>関連する記事</h4>
      <hr>

      <% @related_article.each do |article| %>
        <h4><%= link_to article.title, article_path(article) %></h4>
      <% end %>

    </div>
  </div>

  <div class="col-sm-4 col-xs-12 pl30 pb50">
    <div class="osusume">
      <h5 class="osusume-title">ランキング</h5>
      <p class="gray-text mini">テキストテキストテキストテキスト</p>
      <hr>
    </div>

    <!-- フィードはパーシャル化 -->
    <%= render 'ranking' %>

    <div class="ad-space">
      広告入ります
    </div>


    <div class="osusume mt30">
      <h5 class="osusume-title">おすすめの記事</h5>
      <p class="gray-text mini">注目されてる記事だよ</p>
      <hr>
    </div>
    <%= render 'osusume' %>

  </div>


</div>

<%# breadcrumb :show_article %>
