<!DOCTYPE html>
<html lang="ja">
  <head>
    <%= analytics_init if Rails.env.production? %>

    <%= display_meta_tags(default_meta_tags) %>

    <!-- <title>流行をいち早くお届けするアプリ速報!</title> -->
    <meta charset="utf-8"/>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'smartphone/application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'smartphone/application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="smt">
      <%= render 'layouts/header'%>

      <%= yield %>

      <div class="footer">
        <%= render 'layouts/footer' %>
      </div>
    </div>

  </body>
</html>
