<!DOCTYPE html>
<html lang="ja">
  <head>
    <%= analytics_init if Rails.env.production? %>
    <% set_meta_tags :site => 'アプリ速報スマホ版は流行や旬な話題をいち早く届けるメディアです',
                     :description => 'アプリ速報は有用な情報をお届けするウェブサイトです。あなたにとって素敵な情報が見つかると思いますよ。今すぐチェックしよう！',

                    :keywords => 'メディア, アプリ,流行, インスタ映え, インスタグラム, SNS,吉澤ひとみ, 大谷翔平,ハロウィン, クリスマス, 海外旅行, 高校生, 大学生 カップル, 彼女, 恋人, デートスポット, マッチング, 掲示板, ２チャンネル, LINE, FACEBOOK, TIKTOK',
                    :open_graph => {
                      :title => 'アプ速！',
                      :type  => :website,
                      :url   => '/',
                      :image => 'http://ia.media-imdb.com/rock.jpg' # TODO:設定する
                   },
                      :viewport => "width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no",
                      :reverse => true %>
    <%= display_meta_tags %>

    <title>流行をいち早くお届けするアプリ速報!</title>
    <meta charset="utf-8"/>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'smartphone/application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'smartphone/application', 'data-turbolinks-track': 'reload' %>
    <!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css"> -->
    <!-- <script async src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script> -->
  </head>

  <body>
    <%= render 'shared/header'%>


    <div class="origin-container grey lighten-5">
      <div class="sns-share pt100">
        <!-- <div class="row"> -->
          <!-- <div class="col l5">
          </div>
          <div class="col l1">
            <p><div class="line-it-button" data-lang="ja" data-type="share-a" data-url="http://neoch.jp" style="display: none;"></div></p>
              <script src="https://d.line-scdn.net/r/web/social-plugin/js/thirdparty/loader.min.js" async="async" defer="defer"></script>
          </div>
          <div class="col l1">
            <p> <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></p>
          </div>
          <div class="col l1">
            <p><iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2F%E3%81%A8%E3%82%82%E3%81%A0%E3%81%A1%E3%81%AE%E6%A3%AE-1767993073494903&width=83&layout=button_count&action=like&size=small&show_faces=true&share=false&height=21&appId" width="130" height="30" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe></p>
          </div> -->
<!--
          <div class="col l3">

          </div> -->
        <!-- </div> -->
      </div>


      <div class="back-ground-container">
        <div class="container">
          <% if flash[:notice] %>
            <div class="flash_message center pt50 pb50">
              <p class="notice"><%= flash[:notice] %></p>
            </div>
          <% end %>
          <% if flash[:alert] %>
            <div class="flash_message center pt50 pb50">
              <p class="alert"><%= flash[:alert] %></p>
            </div>
          <% end %>
          <%#= breadcrumbs :class => "pan", semantic: true %>
          <%= yield %>
        </div>
      </div>


    </div>

    <div class="footer">
      <%= render 'shared/footer' %>
    </div>

    <%#= debug(params) if Rails.env.development? %>

  </body>
</html>
<!-- <script type="text/javascript">LineIt.loadButton();</script> -->
