<!-- スマホ用HTML -->

<div class="container-fluid">

  <!-- main article -->
  <div class="img-wrapper">
    <%= link_to article_path(@article_last1) do %>
      <%= image_tag @article_last1.picture.url, width: "100%", height: "300px" %>
      <!-- 絶対位置でcss組んでいるため、注意 # TODO-->　
      <div class="absolute-text"><%= @article_last1.title %></div>
      <div class="absolute-text-pv"><%= @article_last1.impressionist_count %>pv</div>
      <div class="absolute-text-author">作者</div>
    <% end %>
  </div>


  <div class="separate container">
    <div class="tabnav row">
        <li class="col-xs-6 pl40"><a href="#tab01">新着の記事</a></li>
        <li class="col-xs-6 pl30"><a href="#tab02">人気の記事</a></li>
    </div>

    <div class="tabcontent">
      <div id="tab01">
        <% @new_articles.each do |article| %>
          <%= link_to article_path(article) do %>
            <li class="row list">
              <div class="col-xs-3 left-img pl30">
                <%= image_tag article.picture.url, :size => "70x70", class: 'list-img' %>
              </div>
              <div class="col-xs-9 right-content">
                <b class="list-title"><%= article.title.truncate(35) %></b>
                <div class="row pt30">
                  <div class="col-xs-3 pv-text">
                    <%= article.impressionist_count %>pv
                  </div>
                  <div class="col-xs-6">

                  </div>
                  <div class="col-xs-3 author-text">
                    作者
                  </div>
                </div>
              </div>
            </li>
          <% end %>
        <% end %>
      </div>
      <div id="tab02">
        <!-- あとで人気ロジック作成する -->
        <% @articles.each do |article| %>
          <%= link_to article_path(article) do %>
            <li class="row list">
              <div class="col-xs-3 left-img pl30">
                <%= image_tag article.picture.url, :size => "70x70", class: 'list-img' %>
              </div>
              <div class="col-xs-9 right-content">
                <b class="list-title"><%= article.title.truncate(35) %></b>
                <div class="row pt30">
                  <div class="col-xs-3 pv-text">
                    pv数
                  </div>
                  <div class="col-xs-6">

                  </div>
                  <div class="col-xs-3 author-text">
                    作者
                  </div>
                </div>
              </div>
            </li>
          <% end %>
        <% end %>
      </div>
    </div>

  </div>
</div>

<!-- ページネーション -->

<!-- sns連携 -->


<!-- footer -->



<script type="text/javascript">
  jQuery(function($){
    $('.tabcontent > div').hide();

    $('.tabnav a').click(function () {
        $('.tabcontent > div').hide().filter(this.hash).fadeIn();

        $('.tabnav a').removeClass('active');
        $(this).addClass('active');

        return false;
    }).filter(':eq(0)').click();
  });
</script>
